[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
psycopg = "*"
"discord.py" = "*"
loguru = "*"

[dev-packages]
debugpy = "*"
black = "*"
flake8 = "*"
pynvim = "*"
neovim = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
